{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif

    if settings.brand_image == blank and settings.brand_headline == blank and settings.brand_description == blank
      assign brand_empty = true
    endif

    if section.blocks.size == 1 and section.blocks[0].type == 'brand_information' and brand_empty and has_social_icons == false and section.settings.newsletter_enable == false and section.settings.enable_follow_on_shop == false
      assign only_empty_brand = true
    endif
  -%}
  {%- if section.blocks.size > 0
 or section.settings.newsletter_enable
 or section.settings.show_social
 and has_social_icons == true
 or section.settings.enable_follow_on_shop
  -%}
    {%- unless only_empty_brand -%}
      <div class="footer__content-top page-width">
        {%- if section.blocks.size > 0 -%}
          {%- liquid
            if section.blocks.size == 9
              assign footer_grid_class = 'grid--3-col-tablet'
            elsif section.blocks.size > 6
              assign footer_grid_class = 'grid--4-col-desktop'
            elsif section.blocks.size > 4
              assign footer_grid_class = 'grid--3-col-tablet'
            endif
          -%}
          <div
            class="footer__blocks-wrapper tw-flex tw-flex-col lg:tw-flex-row  {{ footer_grid_class }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
            data-cascade
            {% endif %}>
            {%- for block in section.blocks -%}
              <div
                class="footer-block !tw-flex !tw-flex-col grid__item{% if block.type == 'link_list' %} footer-block--menu{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
                {% endif %}>
                {%- if block.settings.heading != blank -%}
                  <h2 class="footer-block__heading inline-richtext">{{- block.settings.heading -}}</h2>
                {%- endif -%}

                {%- case block.type -%}
                  {%- when '@app' -%}
                    {% render block %}
                  {%- when 'text' -%}
                    <div class="footer-block__details-content rte">
                      {{ block.settings.subtext }}
                    </div>
                  {%- when 'link_list' -%}
                    {%- if block.settings.menu != blank -%}
                      <ul class="footer-block__details-content list-unstyled">
                        {%- for link in block.settings.menu.links -%}
                          <li>
                            <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                              {{ link.title | escape }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  {%- when 'brand_information' -%}
                    <div class="footer-block__brand-info">
                      {%- if settings.brand_image != blank -%}
                        {%- assign brand_image_height = settings.brand_image_width
 | divided_by: settings.brand_image.aspect_ratio
                        -%}
                        <div class="footer-block__image-wrapper" style="max-width: min(100%, {{ settings.brand_image_width }}px);">
                          {{ settings.brand_image
 | image_url: width: 1100
 | image_tag:
 loading: 'lazy',
 widths: '50, 100, 150, 200, 300, 400, 550, 800, 1100',
 height: brand_image_height,
 width: settings.brand_image_width
                          }}
                        </div>
                      {%- endif -%}
                      {%- if settings.brand_headline != blank -%}
                        <h2 class="footer-block__heading rte">{{ settings.brand_headline }}</h2>
                      {%- endif -%}
                      {%- if settings.brand_description != blank -%}
                        <div class="rte">{{ settings.brand_description }}</div>
                      {%- endif -%}
                      {%- if block.settings.show_social and has_social_icons -%}
                        {%- render 'social-icons'
                          , class: 'footer__list-social' -%}
                      {%- endif -%}
                    </div>
                  {%- when 'image' -%}
                    <div class="tw-flex tw-flex-col footer-block__details-content footer-block-image {{ block.settings.alignment }}">
                      {%- if block.settings.image != blank -%}
                        {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
                        <div class="footer-block__image-wrapper" style="max-width: min(100%, {{ block.settings.image_width }}px);">
                          <img
                            srcset="{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x"
                            src="{{ block.settings.image | image_url: width: 760 }}"
                            alt="{{ block.settings.image.alt | escape }}"
                            loading="lazy"
                            width="{{ block.settings.image.width }}"
                            height="{{ block.settings.image.height }}">
                        </div>
                        {% if block.settings.subtext %}
                          <p class="footer-subtext">{{ block.settings.subtext }}</p>
                        {% endif %}
                        {% if block.settings.piva %}
                          <p class="footer-subtext">{{ block.settings.piva }}</p>
                        {% endif %}
                      {%- else -%}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                      {%- endif -%}
                    </div>
                {%- endcase -%}
              </div>
            {%- endfor -%}
            <div class="footer-block">
              <h2 class="footer-block__heading inline-richtext tw-font-bold">{{ 'sections.footer.customerSupport' | t }}</h2>
              <ul class="footer-block__details-content list-unstyled">
                <li>
                  <a href="/pages/contact" class="link link--text list-menu__item list-menu__item--link">{{ 'sections.footer.contacts' | t }}</a>
                </li>
                <li>
                  <p class="tw-text-[1.4rem] tw-py-[0.8rem]">{{ 'sections.footer.supportTime' | t }}</p>
                </li>
                <li class="tw-flex">
                  {%- render 'social-icons'
                    , class: 'footer__list-social' -%}
                </li>
              </ul>
            </div>
          </div>
        {%- endif -%}

        <div
          class="footer-block--newsletter{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
          data-cascade
          {% endif %}>
          {%- if section.settings.newsletter_enable -%}
            <div class="footer-block__newsletter">
              {%- if section.settings.newsletter_heading != blank -%}
                <h2 class="footer-block__heading inline-richtext">{{ section.settings.newsletter_heading }}</h2>
              {%- endif -%}
              {%- form 'customer'
                , id: 'ContactFooter'
                , class: 'footer__newsletter newsletter-form' -%}
                <input
                  type="hidden"
                  name="contact[tags]"
                  value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  <div class="field">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="field__input"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="ContactFooter-error"
                      {% elsif form.posted_successfully? %}
                      aria-describedby="ContactFooter-success"
                      {% endif %}
                      placeholder="{{ 'newsletter.label' | t }}"
                      required>
                    <label class="field__label" for="NewsletterForm--{{ section.id }}">
                      {{ 'newsletter.label' | t }}
                    </label>
                    <button
                      type="submit"
                      class="newsletter-form__button field__button"
                      name="commit"
                      id="Subscribe"
                      aria-label="{{ 'newsletter.button_label' | t }}">
                      <span class="svg-wrapper">
                        {{- 'icon-arrow.svg' | inline_asset_content -}}
                      </span>
                    </button>
                  </div>
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="ContactFooter-error">
                      <span class="svg-wrapper">
                        {{- 'icon-error.svg' | inline_asset_content -}}
                      </span>
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3
                    class="newsletter-form__message newsletter-form__message--success form__message"
                    id="ContactFooter-success"
                    tabindex="-1"
                    autofocus>
                    <span class="svg-wrapper">
                      {{- 'icon-success.svg' | inline_asset_content -}}
                    </span>
                    {{- 'newsletter.success' | t }}
                  </h3>
                {%- endif -%}
              {%- endform -%}
            </div>
          {%- endif -%}

          {%- if shop.features.follow_on_shop? and section.settings.enable_follow_on_shop -%}
            <div class="footer__follow-on-shop">
              {{ shop | login_button: action: 'follow' }}
            </div>
          {%- endif -%}

          {%- if section.settings.show_social and has_social_icons -%}
            {%- render 'social-icons'
              , class: 'footer__list-social' -%}
          {%- endif -%}
        </div>
      </div>
    {%- endunless -%}
  {%- endif -%}

  <div
    class="footer__content-bottom{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
    data-cascade
    {% endif %}>
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__column footer__localization isolate">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <localization-form>
            {%- form 'localization'
              , id: 'FooterCountryForm'
              , class: 'localization-form' -%}
              <div>
                <h2 class="caption-large text-body" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization'
                  , localPosition: 'FooterCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <localization-form>
            {%- form 'localization'
              , id: 'FooterLanguageForm'
              , class: 'localization-form' -%}
              <div>
                <h2 class="caption-large text-body" id="FooterLanguageLabel">
                  {{ 'localization.language_label' | t }}
                </h2>
                {%- render 'language-localization'
                  , localPosition: 'FooterLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      <div class="footer__column footer__column--info">
        {%- if section.settings.payment_enable -%}
          <div class="footer__payment">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list list-payment" role="list">
              {%- for type in shop.enabled_payment_types -%}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
            </ul>

          {% comment %} 
            <div class="tw-flex tw-items-center tw-flex-wrap tw-justify-center tw-gap-10 "> 
            <svg 
            class="ep_americanexpress ep_a_white" 
            width="50" 
            height="30" 
            fill="none" 
            viewBox="0 0 50 30" 
            > 
            <path fill="#2A3139" fill-rule="evenodd" d="M2.402 14.531H0v-4.025l1.702-3.649h3.666l.472.906v-.906h4.299l.94 1.982.916-1.982H25.64c.62 0 1.178.108 1.588.448v-.448h3.735v.448c.643-.33 1.44-.448 2.346-.448h5.413l.502.906v-.906h4.007l.547.906v-.906h3.905v7.674h-3.946l-.746-1.16v1.16h-4.924l-.535-1.222h-1.212l-.547 1.222h-2.555c-1.003 0-1.765-.221-2.255-.467v.467H24.89V12.79c0-.246-.047-.26-.206-.265h-.227l.005 2.006H12.718v-.948l-.421.952H9.843l-.421-.938v.934H4.696l-.54-1.222H2.943l-.541 1.222zm12.775-1.08h-1.44l-.006-4.31-2.038 4.31h-1.235L8.415 9.136v4.313h-2.86l-.54-1.227H2.09l-.546 1.227H.016l2.518-5.502h2.088l2.391 5.21v-5.21h2.294l1.84 3.733 1.69-3.733h2.34v5.502zM4.508 11.075l-.962-2.193-.957 2.193h1.92zm21.195-.873c-.193.11-.421.113-.695.113h-1.707V9.094h1.73c.245 0 .501.01.667.1.182.08.295.25.295.486 0 .24-.107.434-.29.523zm11.21-1.32l.973 2.193h-1.94l.967-2.193zM16.225 13.45h4.696v-1.137h-3.29v-1.1h3.21v-1.127h-3.21v-.992h3.29V7.948h-4.696v5.502zm11.317-4.02c0 .877-.626 1.33-.99 1.467.307.11.57.303.695.463.198.274.232.518.232 1.01v1.08h-1.418l-.005-.693v-.105c.004-.32.008-.73-.222-.967-.205-.194-.518-.236-1.024-.236H23.3v2.001h-1.405V7.948h3.233c.719 0 1.248.018 1.702.264.445.246.712.604.712 1.218zm.815 4.02h1.434V7.948h-1.434v5.502zm18.074 0H44.44l-2.664-4.13v4.13h-2.863l-.547-1.227h-2.92l-.531 1.227h-1.645c-.683 0-1.548-.141-2.038-.608-.494-.467-.751-1.1-.751-2.1 0-.817.154-1.563.758-2.152.454-.44 1.166-.642 2.134-.642h1.361v1.18h-1.332c-.513 0-.803.07-1.082.325-.24.232-.404.67-.404 1.247 0 .589.126 1.014.387 1.292.216.217.61.283.98.283h.63l1.982-4.327H38l2.38 5.205V7.948h2.14l2.471 3.832V7.948h1.44v5.502zM50 18.583h-2.562c-.256 0-.426.009-.569.1-.148.088-.205.22-.205.395 0 .208.125.35.307.41.149.049.308.063.542.063l.762.019c.769.017 1.282.141 1.595.443a.6.6 0 0 1 .112.114l.018.022v-1.566zm-1.908 4.332c.901 0 1.566-.236 1.908-.704v1.43c-.563.256-1.303.355-2.061.355h-3.643v-.491c-.422.316-1.184.49-1.913.49H30.9v-1.774c0-.218-.023-.226-.255-.226h-.183v2.001h-3.78v-2.072c-.632.255-1.35.278-1.958.27h-.45V24l-4.583-.004-1.127-1.194-1.196 1.194H9.933v-7.68h7.578l1.087 1.176 1.16-1.175h5.073c.587 0 1.549.057 1.982.45v-.45h4.532c.426 0 1.349.08 1.895.45v-.45h6.872v.45c.341-.307 1.064-.45 1.68-.45h3.847v.45c.404-.274.974-.45 1.76-.45h2.6v1.095h-2.8c-1.474 0-2.016.84-2.016 1.638 0 1.628 1.438 1.665 2.704 1.697l.263.007c.244 0 .393.038.495.122a.44.44 0 0 1 .171.364.47.47 0 0 1-.166.359c-.113.103-.3.136-.569.136h-2.703v1.18h2.714zm-3.7-2.902c.274.265.421.6.421 1.166 0 1.184-.79 1.736-2.208 1.736h-2.738v-1.18h2.727c.267 0 .456-.033.574-.136a.474.474 0 0 0-.005-.723c-.108-.084-.256-.122-.5-.122l-.263-.007c-1.261-.032-2.699-.069-2.699-1.697 0-.798.536-1.638 2.01-1.638h2.818v1.171H41.95c-.255 0-.421.01-.563.1-.154.089-.21.221-.21.396 0 .207.13.348.307.41.148.048.307.062.547.062l.757.02c.763.016 1.286.14 1.605.442zm-13.378-.227c.274 0 .506-.009.695-.113a.584.584 0 0 0 .29-.528c0-.236-.108-.406-.29-.495-.17-.095-.421-.1-.671-.1h-1.731v1.236h1.708zm1.543.572c.313.108.57.301.69.462.198.268.226.52.232 1.004v1.091h-1.411v-.688-.103c.004-.324.008-.744-.227-.974-.206-.198-.519-.245-1.032-.245h-1.502v2.01h-1.412v-5.503h3.245c.712 0 1.23.03 1.691.26.444.25.723.594.723 1.222 0 .878-.627 1.326-.997 1.464zm6.468-2.946h-4.692v5.503h4.692v-1.142l-3.292-.005v-1.095h3.212v-1.122h-3.212V18.55h3.292v-1.138zm-14.176 2.54h-1.816V18.55h1.832c.508 0 .86.194.86.675 0 .476-.336.727-.876.727zm-5.375.221l2.159 2.242v-4.413l-2.159 2.171zm-3.415 1.595h-3.456v-1.095h3.086v-1.122h-3.086V18.55h3.524l1.538 1.604-1.606 1.614zm8.728-.699c1.228 0 2.448-.315 2.448-1.844 0-1.524-1.254-1.813-2.37-1.813h-4.491l-1.788 1.804-1.73-1.804h-5.653v5.503h5.568l1.799-1.822 1.73 1.822h2.733V21.07h1.754z" clip-rule="evenodd"></path> 
            </svg> 
            <svg class="ep_visa ep_a_white" width="50" height="30" fill="none" viewBox="0 0 50 30"> 
            <path fill="#2A3139" d="M34.366 9.38a8.193 8.193 0 0 0-2.986-.543c-3.292 0-5.611 1.752-5.63 4.264-.02 1.856 1.655 2.892 2.919 3.51 1.296.633 1.732 1.037 1.726 1.603-.008.866-1.035 1.262-1.993 1.262-1.334 0-2.042-.196-3.136-.679l-.43-.205-.467 2.892c.778.361 2.217.673 3.711.69 3.502 0 5.776-1.733 5.802-4.415.013-1.47-.875-2.588-2.797-3.51-1.165-.598-1.878-.997-1.87-1.602 0-.537.603-1.111 1.907-1.111a5.86 5.86 0 0 1 2.494.495l.299.149.451-2.8zM18.775 22.062l2.084-12.92h3.331l-2.084 12.92h-3.33zM16.107 9.141l-3.262 8.811-.347-1.79c-.607-2.064-2.5-4.3-4.615-5.42l2.983 11.3 3.525-.005 5.246-12.896h-3.53z"></path><path fill="#2A3139" fill-rule="evenodd" d="M40.187 9.141h2.574l2.697 12.913h-3.092s-.306-1.484-.405-1.936a3221.973 3221.973 0 0 1-4.267-.006c-.13.35-.702 1.942-.702 1.942h-3.498l4.948-11.841c.35-.842.947-1.072 1.745-1.072zm-.207 4.716s-1.052 2.868-1.327 3.612h2.765l-.771-3.73-.225-1.115c-.088.254-.21.59-.304.847a7.992 7.992 0 0 0-.138.386z" clip-rule="evenodd"></path><path fill="#2A3139" d="M9.766 8.837H4.394l-.043.268c4.18 1.07 6.946 3.655 8.094 6.76l-1.168-5.938c-.202-.818-.787-1.062-1.51-1.09z" opacity=".436"></path> 
            </svg> 
            <svg class="ep_visaelectron ep_a_white" width="50" height="30" fill="none" viewBox="0 0 50 30"> 
            <path fill="#2A3139" d="M16.34 17.732c4.66-2.166 11.2-4.128 19.86-2.163l.09-2.381c-9.136-1.082-15.692 2.073-19.95 4.309v.235z"></path><path fill="#2A3139" fill-rule="evenodd" d="M22.767 10.838c.6.379 1.443.803 2.711.803 1.116 0 2.182-.317 2.727-1.734.317-.824.016-1.705-1.247-2.545l-.413-.277c-.547-.358-.794-.624-.607-1.016.1-.208.388-.362.766-.362.476 0 .892.216 1.394.644l.983-1.217c-.513-.42-1.395-.848-2.336-.848-1.364 0-2.19.603-2.504 1.398-.49 1.243-.04 1.955 1.001 2.705l.347.238c.701.419 1.009.664.759 1.12-.172.312-.473.398-.787.398-.833 0-1.264-.268-1.709-.545a11.155 11.155 0 0 0-.23-.14l-.855 1.378zm-.972-6.399l-2.015 7.003h1.797l2.015-7.003h-1.797zm-9.649 14.655h1.594l.006 7.246h-1.594l-.006-7.246zm-5.48.561h4.38v1.391H8.325l-.018 1.285h2.711v1.334h-2.72l.01 1.284h2.683v1.391H6.668l-.002-6.685zm10.46 6.859c.733 0 1.558-.242 2.098-.725l-.53-.975c-.432.309-.743.483-1.302.483-.88 0-1.109-.637-1.109-1.014h3.198c0-1.672-.55-2.985-2.31-2.985-1.438 0-2.482 1.246-2.482 2.714 0 1.246.76 2.502 2.437 2.502zm.926-3.217c0-.502-.23-.957-.76-.957-.505 0-.89.474-.99.957h1.75zm4.572 3.217c.531 0 1.255-.213 1.695-.502L23.75 24.9c-.257.135-.56.28-.861.28-.678 0-1.192-.55-1.192-1.246 0-.802.532-1.305 1.329-1.305.256 0 .513.088.751.194l.513-1.102c-.357-.241-1.017-.424-1.566-.424-1.576 0-2.62 1.082-2.62 2.724 0 1.603 1.053 2.492 2.519 2.492zm2.284-5.043h.72l-.005-1.652h1.54l-.038 1.652h1.31l-.027 1.218h-1.31c0 .379-.014.77-.027 1.114-.01.27-.019.51-.019.692 0 .425.101.628.459.628.219 0 .402-.116.585-.231l.349 1.14a3 3 0 0 1-1.576.482c-1.292 0-1.356-.86-1.356-1.98 0-.294.01-.587.022-.886v-.001c.012-.311.023-.628.023-.958h-.687l.037-1.218zm5.938 0H29.25l-.036 4.87h1.594l.027-2.812c0-.097.413-.57.944-.57.238 0 .413.048.568.097l.211-1.662a2.356 2.356 0 0 0-.522-.058c-.624 0-.935.406-1.173.821h-.018v-.686zm4.601-.174c1.704 0 2.584 1.14 2.584 2.608 0 1.469-.88 2.609-2.584 2.609-1.704 0-2.584-1.14-2.584-2.608 0-1.468.88-2.609 2.584-2.609zm.99 2.608c0 .638-.23 1.334-.99 1.334s-.99-.696-.99-1.334c0-.637.23-1.332.99-1.332s.99.695.99 1.332zm2.46-2.434h1.594v.532c.367-.377.926-.705 1.494-.705.98 0 1.512.57 1.512 1.903 0 .994-.01 2.066-.018 3.139h-1.595l.001-.114c.009-.9.018-1.81.018-2.774 0-.396-.101-.705-.578-.705-.256 0-.623.231-.834.444l-.008 3.15H38.86l.037-4.87zm-19.92-17.03L17.36 7.41l-.194.365c-.295.55-.477.89-.573 1.297h-.025c.019-.406-.01-.873-.034-1.269-.013-.21-.025-.4-.027-.55l-.179-2.81h-3.025l-.031.188c.777 0 1.238.411 1.365 1.253l.59 5.559h1.861l3.765-7h-1.876zm13.926 5.96l.05 1.04h1.828l-.6-6.988h-2.394l-3.537 6.989h1.95l.46-1.043 2.243.001zm-.156-3.09c-.02-.517-.037-1.22-.004-1.645h-.026c-.07.22-.283.718-.483 1.185-.116.271-.227.531-.303.72l-.669 1.535h1.576l-.091-1.795z" clip-rule="evenodd"></path> 
            </svg> 
            <svg class="ep_mastercard ep_a_white" width="50" height="30" fill="none" viewBox="0 0 50 30"> 
            <path fill="#2A3139" d="M38.34 18.105V17.4h-.177l-.205.484-.204-.484h-.177v.705h.126v-.531l.191.458h.13l.192-.46v.533h.125zM37.215 18.105v-.584h.227v-.12h-.58v.12h.228v.584h.126z"></path><path fill="#2A3139" fill-rule="evenodd" d="M40.103 21.111v4.084h-.624v-.354c-.198.262-.498.427-.907.427-.804 0-1.435-.64-1.435-1.53 0-.889.631-1.529 1.435-1.529.408 0 .709.165.907.427v-1.524h.624zm-23.408 1.17v2.914h-.624v-.354c-.198.262-.498.427-.906.427-.805 0-1.435-.64-1.435-1.53 0-.889.63-1.529 1.435-1.529.408 0 .708.165.906.427v-.355h.624zm-2.323 1.457c0-.512.33-.933.87-.933.517 0 .865.403.865.933s-.348.932-.864.932c-.54 0-.87-.42-.87-.932zM41.35 24.86a.29.29 0 0 0-.206-.085l.001-.003a.286.286 0 0 0-.208.085.29.29 0 0 0-.062.317.302.302 0 0 0 .061.095.3.3 0 0 0 .208.085.281.281 0 0 0 .206-.085.29.29 0 0 0 0-.409zm-.206.428a.224.224 0 0 0 .203-.313.231.231 0 0 0-.117-.119.226.226 0 0 0-.245.048.232.232 0 0 0 0 .32.224.224 0 0 0 .16.065v-.001zm.096-.339a.12.12 0 0 0-.078-.023h-.122v.269h.056v-.042h.073l.034.042h.067l-.042-.049a.088.088 0 0 0 .022-.015.101.101 0 0 0 .02-.067.116.116 0 0 0-.004-.036.068.068 0 0 0 .001-.016.077.077 0 0 0-.027-.063zm.026.08a.073.073 0 0 1-.02.038.106.106 0 0 1-.063.027l.045.052a.068.068 0 0 1-.032.007h-.027l-.047-.058h-.026v.058-.177h.1a.07.07 0 0 1 .054.022.077.077 0 0 1 .016.03zm-3.486-1.291c0-.512.33-.933.87-.933.518 0 .865.403.865.933s-.347.932-.864.932c-.54 0-.87-.42-.87-.932zm-13.339-.963c.402 0 .66.256.726.707h-1.489c.067-.42.318-.707.763-.707zm-1.417.962c0-.909.588-1.53 1.43-1.53.802 0 1.355.622 1.362 1.53 0 .083-.006.162-.012.24v.003h-2.131c.09.525.456.714.858.714.288 0 .594-.11.835-.305l.306.47c-.349.298-.744.407-1.177.407-.859 0-1.47-.603-1.47-1.53zm8.963 0c0-.512.33-.933.87-.933.517 0 .865.403.865.933s-.348.932-.865.932c-.54 0-.87-.42-.87-.932zm2.323-1.456V25.195h-.624v-.354c-.198.262-.498.427-.906.427-.805 0-1.436-.64-1.436-1.53 0-.889.632-1.529 1.436-1.529.408 0 .708.165.906.427v-.355h.624zm-5.847 1.456c0 .883.606 1.53 1.53 1.53.433 0 .721-.098 1.032-.348l-.3-.512c-.233.17-.48.262-.751.262-.498-.006-.864-.372-.864-.932 0-.561.366-.926.864-.933.27 0 .517.092.752.263l.3-.512c-.313-.25-.6-.348-1.032-.348-.925 0-1.531.646-1.531 1.53zm7.288-1.103c.162-.256.396-.427.756-.427.126 0 .306.025.444.08l-.192.597a.999.999 0 0 0-.39-.073c-.408 0-.612.268-.612.75v1.632h-.625v-2.912h.619v.353zm-15.97-.122c-.3-.2-.713-.304-1.17-.304-.727 0-1.195.354-1.195.932 0 .475.349.768.99.86l.295.042c.342.049.504.14.504.305 0 .225-.228.353-.654.353-.433 0-.745-.14-.955-.304l-.293.494c.342.255.774.377 1.242.377.83 0 1.31-.396 1.31-.95 0-.512-.379-.78-1.003-.871l-.294-.044c-.27-.035-.487-.09-.487-.286 0-.212.204-.34.547-.34.366 0 .72.14.894.25l.27-.513zm7.296.123c.161-.256.396-.427.756-.427.126 0 .306.024.444.08l-.192.596a.997.997 0 0 0-.39-.073c-.409 0-.613.268-.613.75v1.632h-.623v-2.912h.618v.354zm-4.57-.354h-1.02v-.884h-.63v.884h-.582v.579h.582v1.328c0 .676.258 1.079.996 1.079.271 0 .583-.086.781-.226l-.18-.542c-.186.11-.39.165-.553.165-.312 0-.413-.195-.413-.488V22.86h1.02v-.58zm-9.328 1.085v1.828l-.632-.001v-1.621c0-.494-.204-.768-.63-.768-.414 0-.702.269-.702.774v1.615h-.63v-1.62c0-.495-.21-.769-.625-.769-.426 0-.703.269-.703.774v1.615h-.629v-2.912h.624v.36c.235-.341.534-.432.84-.432.44 0 .751.195.95.518.264-.409.642-.525 1.008-.518.697.006 1.129.469 1.129 1.157z" clip-rule="evenodd"></path><path fill="#2A3139" fill-rule="evenodd" d="M20.37 19.436c4.141 0 7.5-3.454 7.5-7.714s-3.359-7.714-7.5-7.714c-4.143 0-7.5 3.453-7.5 7.714 0 4.26 3.357 7.714 7.5 7.714z" clip-rule="evenodd" opacity=".5"></path><path fill="#2A3139" fill-rule="evenodd" d="M29.166 19.436c4.143 0 7.5-3.454 7.5-7.714s-3.357-7.714-7.5-7.714c-4.142 0-7.5 3.453-7.5 7.714 0 4.26 3.358 7.714 7.5 7.714z" clip-rule="evenodd" opacity=".5"></path> 
            </svg> 
            <svg 
            class="ep_klarna ep_a_white" 
            x="0px" 
            y="0px" 
            width="50px" 
            height="30px" 
            viewBox="0 0 50 30" 
            xml:space="preserve" 
            > 
            <style type="text/css">.st0{fill:#FFFFFF;}</style><g><path class="st0" d="M8.8,9.4H6.3c0,2-0.9,3.9-2.5,5.1l-1,0.7l3.8,5.1h3.1l-3.5-4.7C7.9,14,8.8,11.8,8.8,9.4z"></path><rect y="9.4" class="st0" width="2.5" height="11"></rect><rect x="10.4" y="9.4" class="st0" width="2.4" height="11"></rect><path class="st0" d="M33.6,12.6c-0.9,0-1.8,0.3-2.3,1.1v-0.9H29v7.6h2.3v-4c0-1.1,0.8-1.7,1.7-1.7c1,0,1.6,0.6,1.6,1.7v4h2.3v-4.8 
            C36.9,13.8,35.4,12.6,33.6,12.6z"></path><path class="st0" d="M20,12.8v0.5c-0.6-0.4-1.4-0.7-2.3-0.7c-2.2,0-4,1.8-4,4s1.8,4,4,4c0.8,0,1.6-0.3,2.3-0.7v0.5h2.3v-7.6H20z 
            M17.9,18.5c-1.1,0-2.1-0.9-2.1-1.9s0.9-1.9,2.1-1.9c1.1,0,2.1,0.9,2.1,1.9S19.1,18.5,17.9,18.5z"></path><path class="st0" d="M25.8,13.8v-1h-2.3v7.6h2.3v-3.5c0-1.2,1.3-1.8,2.2-1.8c0,0,0,0,0,0v-2.2C27.1,12.8,26.2,13.2,25.8,13.8z"></path><path class="st0" d="M43.9,12.8v0.5c-0.6-0.4-1.4-0.7-2.3-0.7c-2.2,0-4,1.8-4,4s1.8,4,4,4c0.8,0,1.6-0.3,2.3-0.7v0.5h2.3v-7.6H43.9 
            z M41.8,18.5c-1.1,0-2.1-0.9-2.1-1.9s0.9-1.9,2.1-1.9c1.1,0,2.1,0.9,2.1,1.9C43.9,17.7,43,18.5,41.8,18.5z"></path><g><path class="st0" d="M47.9,13c0-0.1-0.1-0.2-0.2-0.2h-0.2v0.6h0.1v-0.2h0.1l0.1,0.2h0.1l-0.1-0.2C47.9,13.2,47.9,13.1,47.9,13z 
            M47.7,13.1h-0.1v-0.2h0.1C47.8,12.9,47.8,13,47.7,13.1C47.8,13.1,47.8,13.1,47.7,13.1z"></path><path class="st0" d="M47.7,12.6c-0.3,0-0.5,0.2-0.5,0.5c0,0.3,0.2,0.5,0.5,0.5s0.5-0.2,0.5-0.5S48,12.6,47.7,12.6z M47.7,13.6 
            c-0.2,0-0.4-0.2-0.4-0.4s0.2-0.4,0.4-0.4c0.2,0,0.4,0.2,0.4,0.4S47.9,13.6,47.7,13.6z"></path></g><path class="st0" d="M48.6,17.7c-0.8,0-1.4,0.6-1.4,1.4c0,0.8,0.6,1.4,1.4,1.4c0.8,0,1.4-0.6,1.4-1.4C50,18.3,49.4,17.7,48.6,17.7z 
            "></path></g> 
            </svg> 
            <svg class="ep_paypal ep_a_white" width="50" height="30" fill="none" viewBox="0 0 50 30"> 
            <path fill="#2A3139" d="M9.91 9.713c-.596-.725-1.673-1.036-3.052-1.036H2.856a.586.586 0 0 0-.567.515L.624 20.465a.384.384 0 0 0 .078.295c.065.081.16.128.261.128h2.47l.621-4.198-.019.132a.584.584 0 0 1 .564-.516h1.174c2.306 0 4.112-.999 4.64-3.89a6.75 6.75 0 0 0 .04-.25c.158-1.068 0-1.795-.542-2.453" opacity=".632"></path><path fill="#2A3139" fill-rule="evenodd" d="M35.075 12.317h2.762c.925 0 1.621.26 2.014.752.357.448.476 1.088.352 1.902-.274 1.862-1.324 2.8-3.144 2.8h-.874a.392.392 0 0 0-.38.346l-.316 2.143a.275.275 0 0 1-.266.241h-1.417a.225.225 0 0 1-.175-.086.257.257 0 0 1-.053-.197l1.117-7.556c.03-.199.19-.345.38-.345zm1.44 3.817c.733 0 1.49 0 1.641-1.058.055-.37.011-.64-.134-.82-.243-.304-.714-.304-1.212-.304h-.192a.235.235 0 0 0-.227.207l-.292 1.975h.416zM25.067 15.042h1.323c.067 0 .131.032.175.087a.257.257 0 0 1 .053.197l-.715 4.83c-.03.2-.19.346-.38.346h-1.19a.224.224 0 0 1-.176-.086.257.257 0 0 1-.052-.198l.059-.392s-.653.807-1.832.807c-.686 0-1.262-.21-1.666-.717-.44-.552-.619-1.341-.492-2.168.243-1.657 1.491-2.838 2.953-2.838.637 0 1.276.148 1.562.592l.093.142.058-.394a.236.236 0 0 1 .227-.208zm-9.697-2.725h2.763c.924 0 1.62.26 2.014.752.357.448.476 1.088.352 1.902-.274 1.862-1.325 2.8-3.145 2.8h-.874a.392.392 0 0 0-.379.347l-.301 2.038a.392.392 0 0 1-.38.346h-1.319a.225.225 0 0 1-.175-.086.257.257 0 0 1-.052-.198l1.117-7.556c.03-.199.19-.345.379-.345zm1.44 3.817c.733 0 1.49 0 1.642-1.058.054-.37.01-.64-.135-.82-.243-.304-.714-.304-1.212-.304h-.192a.235.235 0 0 0-.227.207l-.292 1.975h.416zm7.737 1.655c-.128.806-.728 1.348-1.493 1.348-.384 0-.691-.132-.889-.382-.196-.246-.27-.599-.207-.99.119-.8.729-1.358 1.482-1.358.376 0 .68.133.882.384.203.254.283.608.225.998zM44.773 15.042h1.323c.067 0 .13.032.175.087a.257.257 0 0 1 .052.197l-.715 4.83c-.03.2-.19.346-.38.346h-1.19a.224.224 0 0 1-.175-.086.256.256 0 0 1-.052-.198l.059-.392s-.653.807-1.832.807c-.686 0-1.262-.21-1.666-.717-.44-.552-.62-1.341-.493-2.168.243-1.657 1.492-2.838 2.953-2.838.637 0 1.276.148 1.563.592l.092.142.058-.394a.236.236 0 0 1 .228-.208zm-2.014 4.095c.765 0 1.365-.542 1.493-1.348.058-.39-.022-.744-.224-.998-.202-.251-.507-.384-.882-.384-.754 0-1.364.558-1.483 1.358-.062.391.012.744.207.99.198.25.505.382.889.382z" clip-rule="evenodd"></path><path fill="#2A3139" d="M33.436 15.043h-1.33a.376.376 0 0 0-.317.18l-1.834 2.88-.778-2.768a.389.389 0 0 0-.368-.293h-1.307a.227.227 0 0 0-.187.103.26.26 0 0 0-.03.222l1.463 4.584-1.377 2.073a.26.26 0 0 0-.016.255.23.23 0 0 0 .204.132h1.329a.379.379 0 0 0 .315-.176l4.422-6.807a.259.259 0 0 0 .015-.254.229.229 0 0 0-.204-.131zM47.654 12.525l-1.134 7.693a.258.258 0 0 0 .052.198.225.225 0 0 0 .175.086h1.14c.19 0 .35-.147.38-.346l1.118-7.555a.257.257 0 0 0-.052-.198.224.224 0 0 0-.175-.086h-1.276a.235.235 0 0 0-.228.207"></path><path fill="#2A3139" d="M10.454 12.166a7.48 7.48 0 0 1-.042.25c-.527 2.89-2.333 3.89-4.64 3.89H4.599a.583.583 0 0 0-.563.515l-.602 4.066-.17 1.154a.336.336 0 0 0 .068.258c.057.071.14.112.229.112h2.082a.512.512 0 0 0 .495-.45l.02-.114.393-2.653.025-.147a.512.512 0 0 1 .495-.45h.312c2.017 0 3.597-.875 4.059-3.403.192-1.056.092-1.939-.417-2.559a2.011 2.011 0 0 0-.57-.469z" opacity=".38"></path><path fill="#2A3139" d="M9.9 11.932a3.508 3.508 0 0 0-.512-.122 6.072 6.072 0 0 0-1.035-.08H5.215a.511.511 0 0 0-.494.45l-.667 4.51-.02.131a.583.583 0 0 1 .564-.515h1.175c2.306 0 4.112-1 4.64-3.89.015-.085.028-.168.04-.25a2.756 2.756 0 0 0-.552-.235" opacity=".377"></path> 
            </svg> 
            <svg class="ep_postepay ep_a_white" width="50" height="30" fill="none" viewBox="0 0 50 30"> 
            <path fill="#2A3139" d="M4.05 11.81c.275-.112.595-.157.893-.157.594 0 1.097.178 1.464.535.39.356.596.87.663 1.493.046.447 0 .937-.137 1.45a3.946 3.946 0 0 1-.55 1.337 2.77 2.77 0 0 1-1.098 1.07c-.366.223-.777.334-1.236.379v-.891c.162-.046.32-.112.459-.179.298-.178.549-.446.755-.802.205-.357.366-.736.48-1.16.114-.423.137-.825.114-1.204-.046-.4-.182-.713-.411-.958-.252-.245-.572-.356-.938-.356-.16 0-.32.021-.459.066v-.624zM0 20.056l1.579-6.755.137-.78c.023-.267.046-.513.068-.78h1.1l-.093.914c.344-.334.687-.602 1.03-.758.069-.045.16-.067.228-.089v.625c-.16.044-.32.133-.48.222a2.27 2.27 0 0 0-.733.847c-.205.357-.366.78-.48 1.248-.114.49-.137.869-.114 1.182.023.356.16.623.389.846.229.2.527.312.892.312.183 0 .367-.022.526-.066v.891h-.206c-.434 0-.777-.089-1.098-.245a2.404 2.404 0 0 1-.8-.714l-.733 3.099H0zM33.41 12.7c-.138 0-.252.022-.39.044v-.869c.068-.023.114-.044.161-.066.32-.157.686-.224 1.075-.224.595 0 1.076.178 1.419.513.343.335.549.825.595 1.471.114 1.204-.115 2.23-.71 3.054-.572.848-1.35 1.271-2.31 1.271-.069 0-.161-.022-.229-.022v-1.16a.88.88 0 0 0 .389-.178c.205-.156.366-.379.526-.691.16-.335.298-.714.39-1.115.09-.401.114-.735.09-1.025-.022-.334-.136-.58-.296-.736-.185-.178-.414-.267-.71-.267zm-.39.044c-.367.112-.687.402-.938.825-.367.602-.504 1.272-.434 2.007.045.379.137.669.343.868.182.202.434.313.754.313.092 0 .183-.022.276-.045v1.16a2.185 2.185 0 0 1-.894-.245c-.32-.157-.571-.424-.754-.758l-.733 3.187h-1.9l1.466-6.464c.182-.825.297-1.45.342-1.85h1.717l-.046.735c.274-.246.525-.446.801-.602v.87zm7.528 2.163c-.046-.023-.091-.023-.137-.023h-.206a2.94 2.94 0 0 0-.8.09v-.982c.251-.022.549-.022.846-.022h.526c.046-.223.092-.378.092-.513.023-.111.023-.2.023-.289-.023-.179-.091-.312-.23-.4-.114-.09-.296-.135-.525-.135-.275 0-.48.067-.618.178-.047.045-.091.067-.114.135v-1.25c.229-.044.48-.044.732-.044.8 0 1.396.111 1.83.38.412.267.641.646.687 1.158.024.156.024.313 0 .49a7.817 7.817 0 0 1-.115.559l-.48 2.05c-.069.246-.091.49-.138.759-.022.267-.022.512-.022.78h-1.74v-.424c0-.156.023-.29.023-.446-.228.311-.503.557-.778.691v-.937a1.82 1.82 0 0 0 .55-.423c.297-.357.503-.825.594-1.382zm-1.144.067a1.871 1.871 0 0 0-.64.29c-.39.244-.549.557-.504.913 0 .2.069.357.207.469.114.111.274.156.48.156.16 0 .32-.023.457-.09v.937l-.046.023a2.088 2.088 0 0 1-1.006.245c-.55 0-.984-.157-1.327-.446-.344-.29-.526-.669-.572-1.16-.069-.757.228-1.337.869-1.738.503-.312 1.19-.513 2.082-.58v.98zm0-3.277v1.249c-.09.11-.137.267-.183.445h-1.807c.046-.558.32-.98.778-1.293.342-.2.732-.335 1.212-.401zm3.57 8.337l1.51-2.229-1.098-6.108h1.877l.526 4.191 2.425-4.191H50l-3.89 6.353-1.122 1.984h-2.014zm-32.31-7.713c-.161 0-.298.022-.458.066v-.78c.182-.022.389-.022.594-.022.732 0 1.305.178 1.74.512.458.357.687.848.755 1.471.046.491 0 1.026-.16 1.583-.138.558-.344 1.048-.619 1.45-.32.467-.686.802-1.143 1.002-.322.157-.71.246-1.167.29v-.779c.182-.045.366-.112.503-.2.274-.157.504-.402.709-.736.229-.38.39-.803.504-1.27.114-.492.16-.892.137-1.25-.046-.468-.183-.802-.412-1.003-.23-.222-.549-.334-.984-.334zm-.458.067a2.4 2.4 0 0 0-.504.2c-.275.201-.526.469-.732.825a4.061 4.061 0 0 0-.48 1.226c-.115.49-.139.915-.115 1.271.022.401.182.691.411.914.253.224.573.335.983.335.16 0 .298-.023.436-.045v.78c-.161 0-.343.022-.527.022-.732 0-1.327-.177-1.761-.557-.458-.357-.71-.869-.755-1.516-.046-.534 0-1.07.182-1.649.161-.58.39-1.07.71-1.494a2.8 2.8 0 0 1 1.121-.847c.298-.11.664-.2 1.03-.244v.779h.001zm4.348 3.433a.754.754 0 0 0-.07.29.377.377 0 0 0 0 .222c.024.246.115.424.298.536.182.133.435.178.8.178.482 0 .848-.09 1.122-.269.275-.2.39-.445.367-.734 0-.179-.092-.335-.253-.47-.16-.133-.48-.311-.984-.534-.64-.29-1.098-.557-1.35-.802a1.148 1.148 0 0 1-.434-.825c-.046-.536.16-.959.595-1.316.459-.334 1.076-.512 1.854-.512.71 0 1.236.111 1.579.312.366.2.549.49.595.914v.223c0 .066 0 .178-.024.334h-1.12v-.178-.156c-.023-.223-.114-.402-.298-.513-.16-.111-.412-.178-.755-.178-.389 0-.686.09-.892.245a.667.667 0 0 0-.298.647.6.6 0 0 0 .253.423c.137.134.48.312 1.006.557.732.335 1.236.625 1.442.848.206.222.343.512.366.846.046.558-.182 1.048-.732 1.427-.526.379-1.236.58-2.106.58-.686 0-1.213-.135-1.625-.358a1.3 1.3 0 0 1-.64-1.025.834.834 0 0 1 0-.335c.023-.111.046-.245.069-.378h1.235zm7.527 2.006c-.228.023-.434.044-.617.067-.183 0-.366.022-.526.022-.458 0-.8-.066-1.007-.223-.228-.134-.343-.38-.366-.714-.023-.11 0-.312.023-.557.022-.267.091-.534.137-.825l.71-3.031H19.29l.206-.78h1.121l.32-1.383 1.213-.29-.365 1.672h1.35l-.183.78h-1.35l-.687 3.167c-.069.244-.114.423-.114.534-.024.134-.046.223-.024.29 0 .178.07.29.184.357.114.089.32.134.595.134.091 0 .23-.022.366-.045.114 0 .252-.045.366-.067l-.207.892zm3.96-3.745h1.555c.024-.2.047-.357.047-.468a.605.605 0 0 0 0-.29.996.996 0 0 0-.39-.757c-.25-.179-.571-.29-.983-.29-.068 0-.16.022-.229.022v-.735h.252c.8 0 1.419.156 1.83.445.39.29.64.759.687 1.405.024.223.024.468 0 .714 0 .245-.047.511-.114.78H26.04v-.826zm0 3.79v-.915c.137-.044.275-.11.388-.178.275-.178.481-.445.596-.78h1.35a2.314 2.314 0 0 1-1.03 1.405 3.027 3.027 0 0 1-1.304.468zm-1.602-3.79h1.602v.825h-1.808a2.082 2.082 0 0 0-.114.513c-.023.156-.023.312-.023.446.046.379.183.668.412.869.251.2.572.312 1.007.312.182 0 .365-.022.526-.09v.915a6.197 6.197 0 0 1-.664.044c-.733 0-1.304-.178-1.74-.512-.41-.335-.662-.825-.708-1.45-.047-.468 0-1.002.16-1.605.137-.579.366-1.091.618-1.515.275-.4.64-.735 1.075-.936.367-.201.778-.29 1.259-.334v.735c-.366.044-.686.178-.938.445-.321.29-.55.737-.664 1.338z"></path> 
            </svg>
            </div> 
          {% endcomment %}
          </div>
        {%- endif -%}
      </div>
    </div>
    <div class="tw-flex tw-justify-start lg:tw-items-center lg:tw-justify-center tw-mx-auto footer__content-bottom-wrapper page-width{% if section.settings.enable_country_selector == false and section.settings.enable_language_selector == false %} footer__content-bottom-wrapper--center{% endif %}">
      <div class="footer__copyright caption">
        <small class="copyright__content">&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}
        </small>
        {% comment %} <small class="copyright__content">{{ powered_by_link }}</small> {% endcomment %}
        {%- if section.settings.show_policy -%}
          <ul class="policies list-unstyled">
            {%- for policy in shop.policies -%}
              {%- if policy != blank -%}
                <li>
                  <small class="copyright__content">
                    <a href="{{ policy.url }}">{{ policy.title | escape }}</a>
                  </small>
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </div>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "t:sections.footer.name",
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "link_list",
        "name": "t:sections.footer.blocks.link_list.name",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "heading",
            "default": "t:sections.footer.blocks.link_list.settings.heading.default",
            "label": "t:sections.footer.blocks.link_list.settings.heading.label"
          }, {
            "type": "link_list",
            "id": "menu",
            "default": "footer",
            "label": "t:sections.footer.blocks.link_list.settings.menu.label",
            "info": "t:sections.footer.blocks.link_list.settings.menu.info"
          }
        ]
      },
      {
        "type": "brand_information",
        "name": "t:sections.footer.blocks.brand_information.name",
        "settings": [
          {
            "type": "paragraph",
            "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
          }, {
            "type": "header",
            "content": "t:sections.footer.blocks.brand_information.settings.header__1.content"
          }, {
            "type": "checkbox",
            "id": "show_social",
            "default": true,
            "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
            "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
          }
        ]
      },
      {
        "type": "text",
        "name": "t:sections.footer.blocks.text.name",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "heading",
            "default": "t:sections.footer.blocks.text.settings.heading.default",
            "label": "t:sections.footer.blocks.text.settings.heading.label"
          }, {
            "type": "richtext",
            "id": "subtext",
            "default": "t:sections.footer.blocks.text.settings.subtext.default",
            "label": "t:sections.footer.blocks.text.settings.subtext.label"
          }
        ]
      }, {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "subtext",
            "label": "Brand Text"
          },
          {
            "type": "text",
            "id": "piva",
            "label": "Dati Azienda"
          },
          {
            "type": "range",
            "id": "image_width",
            "min": 50,
            "max": 550,
            "step": 5,
            "unit": "px",
            "label": "Image width",
            "default": 100
          }, {
            "type": "select",
            "id": "alignment",
            "label": "Image alignment on large screen",
            "options": [
              {
                "value": "",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      },
      {
        "type": "header",
        "content": "t:sections.footer.settings.header__1.content",
        "info": "t:sections.footer.settings.header__1.info"
      },
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "default": true,
        "label": "t:sections.footer.settings.newsletter_enable.label"
      },
      {
        "type": "inline_richtext",
        "id": "newsletter_heading",
        "default": "t:sections.footer.settings.newsletter_heading.default",
        "label": "t:sections.footer.settings.newsletter_heading.label"
      }, {
        "type": "header",
        "content": "t:sections.footer.settings.header__9.content",
        "info": "t:sections.footer.settings.header__9.info"
      }, {
        "type": "checkbox",
        "id": "enable_follow_on_shop",
        "default": true,
        "label": "t:sections.footer.settings.enable_follow_on_shop.label"
      }, {
        "type": "header",
        "content": "t:sections.footer.settings.header__2.content",
        "info": "t:sections.footer.settings.header__2.info"
      }, {
        "type": "checkbox",
        "id": "show_social",
        "default": true,
        "label": "t:sections.footer.settings.show_social.label"
      }, {
        "type": "header",
        "content": "t:sections.footer.settings.header__3.content",
        "info": "t:sections.footer.settings.header__4.info"
      }, {
        "type": "checkbox",
        "id": "enable_country_selector",
        "default": true,
        "label": "t:sections.footer.settings.enable_country_selector.label"
      }, {
        "type": "header",
        "content": "t:sections.footer.settings.header__5.content",
        "info": "t:sections.footer.settings.header__6.info"
      }, {
        "type": "checkbox",
        "id": "enable_language_selector",
        "default": true,
        "label": "t:sections.footer.settings.enable_language_selector.label"
      }, {
        "type": "header",
        "content": "t:sections.footer.settings.header__7.content"
      }, {
        "type": "checkbox",
        "id": "payment_enable",
        "default": true,
        "label": "t:sections.footer.settings.payment_enable.label"
      }, {
        "type": "header",
        "content": "t:sections.footer.settings.header__8.content",
        "info": "t:sections.footer.settings.header__8.info"
      }, {
        "type": "checkbox",
        "id": "show_policy",
        "default": true,
        "label": "t:sections.footer.settings.show_policy.label"
      }, {
        "type": "header",
        "content": "t:sections.all.spacing"
      }, {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.footer.settings.margin_top.label",
        "default": 0
      }, {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "link_list"
        }, {
          "type": "text"
        }
      ]
    }
  }
{% endschema %}