<div class="swiper-container tw-h-[500px] lg:tw-h-screen tw-w-[95%] tw-mx-auto ">
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      <div class="hero__image-wrapper tw-relative swiper-slide">
        {% if block.settings.image != blank %}
          <img
            src="{{ block.settings.image | img_url: '1920x' }}"
            alt="Hero Image"
            class="tw-object-cover tw-object-top tw-w-full tw-h-full"
            width="1920px"
            height="auto"
          >
        {% else %}
          {% assign placeholder_image = 'lifestyle-1' %}
          {{
            placeholder_image
            | placeholder_svg_tag: 'hero__image-wrapper tw-object-cover tw-object-top tw-w-full tw-h-full'
          }}
        {% endif %}
        <div class="hero__overlay tw-absolute tw-inset-0 overlay tw-bg-main/70">
          <!-- Overlay -->
          <div class="hero__message-wrapper tw-absolute tw-inset-0 tw-flex tw-items-center tw-justify-center tw-text-2xl tw-text-white">
            <!-- Testo Dinamico -->
            <div class="tw-flex tw-flex-col  lg:tw-items-center lg:tw-justify-center tw-gap-6 tw-w-[95%] ">
              <h1 class="tw-text-white tw-text-6xl lg:tw-text-8xl tw-font-bold">
                {{ block.settings.text | default: 'Testo Predefinito' }}
              </h1>
              {% if block.settings.subtext %}
                <p class="tw-text-white tw-text-xl lg:tw-text-3xl">
                  {{ block.settings.subtext }}
                </p>
              {% endif %}

              {%- if block.settings.button_text != blank -%}
                <a
                  {% if block.settings.button_url == blank %}
                    role="link"
                    aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_url }}"
                  {% endif %}
                  class="tw-py-6 tw-px-10 tw-rounded-[30px] tw-transition tw-duration-200 tw-bg-white tw-uppercase tw-text-main tw-max-w-max tw-text-2xl tw-font-bold"
                >
                  {{- block.settings.button_text | escape -}}
                </a>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="swiper-pagination"></div>
  </div>

  <!-- Dots di navigazione -->
</div>
<style>
  .swiper-pagination {
    position: absolute;
    bottom: 40px !important;
    /* Distanza dalla fine dell'immagine */
    left: 50%;
    transform: translateX(-50%);
    /* Centra i dots */
    display: flex;
    gap: 5px;
    /* Spaziatura tra i dots */
    justify-content: center;
  }

  .swiper-pagination-bullet {
    width: 12px !important;
    /* Larghezza dei dots */
    height: 12px !important;
    /* Altezza dei dots */
    background: transparent;
    /* Sfondo trasparente di default */
    border: 2px solid white;
    /* Bordo bianco */
    border-radius: 50%;
    /* Rendi i dots rotondi */
    z-index: 2 !important;
  }

  .swiper-pagination-bullet-active {
    background: white !important;
    /* Colore di sfondo attivo */
    border: none;
    /* Rimuovi il bordo per il dot attivo */
  }

  @media screen and (max-width: 768px) {
    .swiper-pagination {
      bottom: 40px !important;
      /* Distanza dalla fine dell'immagine */
      z-index: 2 !important;
    }
  }
</style>
{% schema %}
{
  "name": "Hero",
  "settings": [],
  "blocks": [
    {
      "type": "image_block",
      "name": "Immagine Hero",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Seleziona Immagine"
        },
        {
          "type": "text",
          "id": "text",
          "label": "t:Testo Dinamico",
          "default": "t:Testo Predefinito"
        },
        {
          "type": "text",
          "id": "subtext",
          "label": "Testo Sottotitolo",
          "default": "Testo predefinito"
        },
        {
          "type": "range",
          "id": "text_size",
          "label": "Dimensione Titolo principale",
          "min": 96,
          "max": 120,
          "step": 1,
          "default": 96
        },
        {
          "type": "range",
          "id": "subtext_size",
          "label": "Dimensione Paragrafo",
          "min": 16,
          "max": 48,
          "step": 1,
          "default": 16
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Testo Bottone",
          "default": "Tutti i prodotti"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Url Bottone",
          "default": "/"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero",
      "blocks": [
        {
          "type": "image_block"
        },
        {
          "type": "image_block"
        }
      ]
    }
  ]
}
{% endschema %}
