{% assign logos = 'goki.png,
   little_dutch.jpeg,
   BIBS_logo.svg,
   officina-naturae_logo.jpg,
   vilac_logo.webp,
   logo-magna-tiles.jpg,
   logo_taftoys.jpg,
   logo_beaba.jpg'
  | split: ','
%}
{% comment %} array dei loghi con stringa splittata {% endcomment %}

<div class="hero__logo-container tw-w-[90%] tw-mx-auto tw-my-32 tw-text-center">
  <h2 class="tw-text-4xl">I nostri partners</h2>
  <ul class="hero__logo-wrapper tw-grid tw-grid-cols-2 lg:tw-hidden tw-gap-4 tw-place-items-center">
    {% for logo in logos %}
      <li class="hero__logo-item tw-flex tw-justify-center tw-grayscale tw-opacity-50 hover:tw-grayscale-0">
        <img
          src="{{ logo | asset_url }}"
          width="100px"
          height="100px"
          class="tw-w-[127px]"
          alt="{{ logo | remove: '.png' | remove: '.jpeg' | remove: '.svg' | remove: '.jpg' | remove: '.webp' }}"
        >
      </li>
    {% endfor %}
  </ul>
</div>

<div class="hero__logo-container tw-w-[90%] tw-mx-auto tw-my-20">
  <ul class="hero__logo-wrapper lg:tw-grid tw-hidden lg:tw-grid-cols-5 tw-items-center tw-justify-center">
    {% for logo in logos %}
      {% if forloop.index <= 5 %}
        <li class="hero__logo-item tw-flex tw-justify-center tw-grayscale tw-opacity-50 hover:tw-grayscale-0">
          <img
            src="{{ logo | asset_url }}"
            width="100px"
            height="100px"
            class="tw-w-[127px]"
            alt="{{ logo | remove: '.png' | remove: '.jpeg' | remove: '.svg' | remove: '.jpg' | remove: '.webp' }}"
          >
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <ul class="hero__logo-wrapper lg:tw-grid tw-hidden lg:tw-grid-cols-5 tw-items-center tw-justify-center tw-mt-8">
    <li
      class="hero__logo-item tw-hidden lg:tw-flex tw-justify-center tw-grayscale tw-opacity-50 hover:tw-grayscale-0"
    ></li>

    {% for logo in logos %}
      {% if forloop.index > 5 and forloop.index <= 8 %}
        <li class="hero__logo-item tw-flex tw-justify-center tw-grayscale tw-opacity-50 hover:tw-grayscale-0">
          <img
            src="{{ logo | asset_url }}"
            width="100px"
            height="100px"
            class="tw-w-[127px]"
            alt="{{ logo | remove: '.png' | remove: '.jpeg' | remove: '.svg' | remove: '.jpg' | remove: '.webp' }}"
          >
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
