{% assign colors = '#BCC7E4, #E8CC56, #B1D0DF, #DFA2B4, #d6853f' | split: ', ' %}
{% assign categorieVar = collections.size | minus: 6 %}
{% assign catPercentage = 100 | divided_by: categorieVar %}
{% assign adjustment = catPercentage | times: 0.02 %}
{% assign adjusted_percentage = catPercentage | minus: adjustment %}
{% assign integer_percentage = adjusted_percentage | floor %}
{% assign nonstocapendo = 'tw-flex tw-justify-between tw-flex-wrap' %}
{% if integer_percentage < 15 %}
  {% assign integer_percentage = 15 %}
  {% assign nonstocapendo = 'tw-flex tw-justify-between tw-flex-wrap lg:tw-grid lg:tw-grid-cols-6 lg:tw-justify-items-center ' %}
{% endif %}

<div class="tw-w-[95%] tw-mx-auto tw-flex tw-flex-col tw-gap-10">
  <div
    class="{{nonstocapendo}} tw-mt-[40px]  tw-w-full tw-gap-y-4  {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
    data-cascade
    {% endif %}>
    {% assign count = 0 %}
    {% for collection in collections %}
      {% unless collection.handle == 'home' or collection.handle == 'neonati' or collection.handle == 'big-kids' or collection.handle == 'kids' or collection.handle == 'idee-regalo' or collection.handle == 'baby-shower' or collection.handle == 'nascita' or collection.handle == 'baby-party' or collection.handle == 'gift-cards'
      %}
        <a
          href="{{ collection.url }}"
          class="tw-w-[49%] lg:tw-w-[{{integer_percentage}}%]  tw-py-6 tw-px-[22px] tw-rounded-[300px] lg:tw-min-w-[200px] xl:tw-min-w-[240px] fxl:tw-min-w-[320px] tw-transition tw-flex tw-justify-center tw-items-center  tw-bg-main tw-uppercase tw-text-main tw-duration-500 hover:-tw-translate-y-2 tw-opacity-[0.8] hover:tw-opacity-100 "
          style="background-color: {{ colors[count] }};">
          <h2 class="tw-line-clamp-1 tw-text-[15px] lg:tw-text-[16px]">{{ collection.title }}</h2>
        </a>
        {% assign count = count | plus: 1 %}
        {% if count == colors.size %}
          {% assign count = 0 %}
        {% endif %}
      {% endunless %}
    {% endfor %}
  </div>

  <div
    class="tw-grid lg:tw-grid-cols-3 tw-gap-4 lg:tw-gap-2 tw-mt-[40px] {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
    data-cascade
    {% endif %}>
    <div class="tw-flex tw-flex-col tw-gap-6 lg:tw-gap-4 tw-relative tw-transition-all tw-duration-500 hover:-tw-translate-y-2">
      {% if collections.neonati.image != blank %}
        <img
          src="{{ collections['neonati'].image |  image_url }}"
          id="babies-img"
          alt="Babies"
          class="tw-object-cover timeline-img active tw-aspect-square "
          width="auto"
          height="auto">
        <div class="tw-inset-0 tw-bg-main/30 tw-absolute"></div>
      {% else %}
        {% assign placeholder_image = 'lifestyle-1' %}
        {{
          placeholder_image | placeholder_svg_tag: 'tw-border tw-border-2 tw-border-main tw-object-cover timeline-img active tw-aspect-square'
        }}
      {% endif %}
      <div class="tw-absolute tw-bottom-10 tw-left-10 tw-flex tw-flex-col tw-gap-4">
        <h3 class="tw-text-6xl tw-font-bold tw-text-white ">{{ collections.neonati.title }}</h3>
        <a href="{{ collections['neonati'].url }}" class="tw-bg-white tw-py-4 tw-px-2 tw-rounded-[30px] tw-text-center tw-uppercase">
          {{ 'sections.mcategory.ctaText' | t -}}
        </a>
      </div>
    </div>

    <div class="tw-flex tw-flex-col tw-gap-6 lg:tw-gap-4 tw-relative tw-transition-all tw-duration-500 hover:-tw-translate-y-2">
      {% if collections['big-kids'].image != blank %}
        <img
          src="{{ collections['kids'].image |  image_url }}"
          id="babies-img"
          alt="Babies"
          class="tw-object-cover timeline-img active tw-aspect-square"
          width="auto"
          height="auto">
        <div class="tw-inset-0 tw-bg-main/30 tw-absolute"></div>

      {% else %}
        {% assign placeholder_image = 'lifestyle-1' %}
        {{
          placeholder_image | placeholder_svg_tag: 'tw-border tw-border-2 tw-border-main tw-object-cover timeline-img active tw-aspect-square'
        }}
      {% endif %}
      <div class="tw-absolute tw-bottom-10 tw-left-10 tw-flex tw-flex-col tw-gap-4">
        <h3 class="tw-text-6xl tw-font-bold tw-text-white ">{{ collections.kids.title }}</h3>
        <a href="{{ collections['kids'].url }}" class="tw-bg-white tw-py-4 tw-px-10 tw-rounded-[30px] tw-text-center tw-max-w-max tw-uppercase">
          {{ 'sections.mcategory.ctaText' | t -}}
        </a>
      </div>
    </div>
    <div class="tw-flex tw-flex-col tw-gap-6 lg:tw-gap-4 tw-relative tw-transition-all tw-duration-500 hover:-tw-translate-y-2">
      {% if collections['big-kids'].image != blank %}
        <img
          src="{{ collections['big-kids'].image |  image_url }}"
          id="babies-img"
          alt="Babies"
          class="tw-object-cover timeline-img active tw-aspect-square"
          width="auto"
          height="auto">
        <div class="tw-inset-0 tw-bg-main/30 tw-absolute"></div>

      {% else %}
        {% assign placeholder_image = 'lifestyle-1' %}
        {{
          placeholder_image | placeholder_svg_tag: 'tw-border tw-border-2 tw-border-main tw-object-cover timeline-img active tw-aspect-square'
        }}
      {% endif %}
      <div class="tw-absolute tw-bottom-10 tw-left-10 tw-flex tw-flex-col tw-gap-4">
        <h3 class="tw-text-6xl tw-font-bold tw-text-white ">{{ collections['big-kids'].title }}</h3>
        <a href="{{ collections['big-kids'].url }}" class="tw-bg-white tw-py-4 tw-px-2 tw-rounded-[30px] tw-text-center tw-uppercase">
          {{ 'sections.mcategory.ctaText' | t -}}
        </a>
      </div>
    </div>
  </div>
</div>
<div
  class="tw-relative tw-w-[95%] lg:tw-w-full tw-mx-auto tw-text-center tw-py-32 tw-flex tw-items-center tw-justify-center {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
  {% if settings.animations_reveal_on_scroll %}
  data-cascade
  {% endif %}>
  <div class="tw-relative tw-flex tw-flex-col tw-w-full tw-gap-4 lg:tw-justify-center lg:tw-items-center">
    <div class="tw-absolute tw-left-0 tw-top-0 tw-transform -tw-translate-y-24 lg:tw-translate-x-16 lg:-tw-translate-y-20 ">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="auto"
        height="auto"
        viewBox="0 0 24 24"
        class="tw-text-main/5 tw-w-[120px] tw-h-[120px] lg:tw-w-[200px] lg:tw-h-[200px]">
        <path fill="currentColor" d="M4.583 17.321C3.553 16.227 3 15 3 13.011c0-3.5 2.457-6.637 6.03-8.188l.893 1.378c-3.335 1.804-3.987 4.145-4.247 5.621c.537-.278 1.24-.375 1.929-.311c1.804.167 3.226 1.648 3.226 3.489a3.5 3.5 0 0 1-3.5 3.5a3.87 3.87 0 0 1-2.748-1.179m10 0C13.553 16.227 13 15 13 13.011c0-3.5 2.457-6.637 6.03-8.188l.893 1.378c-3.335 1.804-3.987 4.145-4.247 5.621c.537-.278 1.24-.375 1.929-.311c1.804.167 3.226 1.648 3.226 3.489a3.5 3.5 0 0 1-3.5 3.5a3.87 3.87 0 0 1-2.748-1.179" />
      </svg>
    </div>

    <h2 class="tw-w-full lg:tw-w-full tw-text-6xl lg:tw-text-[76px] tw-text-main/60 tw-italic">
      {{ 'sections.mcategory.text' | t }}
      <strong>{{ 'sections.mcategory.text1' | t }}</strong>, {{ 'sections.mcategory.text2' | t }}
      <br>
      {{ 'sections.mcategory.text3' | t }}
    </h2>

    <div class="tw-absolute tw-right-0 tw-bottom-0 tw-transform tw-translate-y-24 lg:-tw-translate-x-16 lg:tw-translate-y-20">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="auto"
        height="auto"
        viewBox="0 0 24 24"
        class="tw-text-main/5 tw-w-[120px] tw-h-[120px] lg:tw-w-[200px] lg:tw-h-[200px]">
        <path fill="currentColor" d="M19.417 6.679C20.447 7.773 21 9 21 10.989c0 3.5-2.456 6.637-6.03 8.188l-.893-1.378c3.335-1.804 3.987-4.145 4.248-5.621c-.537.278-1.24.375-1.93.311c-1.804-.167-3.226-1.648-3.226-3.489a3.5 3.5 0 0 1 3.5-3.5c1.073 0 2.1.49 2.748 1.179m-10 0C10.447 7.773 11 9 11 10.989c0 3.5-2.456 6.637-6.03 8.188l-.893-1.378c3.335-1.804 3.987-4.145 4.247-5.621c-.537.278-1.24.375-1.929.311C4.591 12.323 3.17 10.842 3.17 9a3.5 3.5 0 0 1 3.5-3.5c1.073 0 2.1.49 2.748 1.179" />
      </svg>
    </div>
  </div>
</div>

{% comment %}
  Da <strong>Bimbo Zen</strong>, ci lasciamo ispirare <br>
  dalle avventure.
{% endcomment %}