{% assign colors = '#BCC7E4, #E8CC56, #B1D0DF, #DFA2B4' | split: ', ' %}

<div class="tw-w-[90%] tw-mx-auto tw-py-20 tw-flex tw-flex-col tw-gap-10">
  <div
    class="tw-gap-6 tw-grid-cols-2 tw-grid lg:tw-grid-cols-4 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    {% assign count = 0 %}
    {% for collection in collections %}
      {% unless collection.handle == 'home'
        or collection.handle == 'neonati'
        or collection.handle == 'big-kids'
        or collection.handle == 'kids'
      %}
        <div
          class="tw-text-3xl tw-rounded-full tw-p-4 tw-mx-auto tw-h-full tw-w-full tw-justify-center tw-flex tw-items-center tw-gap-y-6 lg:tw-p-0 lg:tw-w-11/12 tw-text-main lg:tw-text-4xl tw-aspect-square"
          style="background-color: {{ colors[count]}}; opacity: 0.8"
        >
          {{- collection.title | link_to: collection.url }}
        </div>
        {% assign count = count | plus: 1 %}
        {% if count == colors.size %}
          {% assign count = 0 %}
        {% endif %}
      {% endunless %}
    {% endfor %}
  </div>

  <div
    class="tw-grid lg:tw-grid-cols-3 tw-gap-20 lg:tw-gap-6 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    <a href="{{ collections['neonati'].url }}">
      <div class="tw-flex tw-flex-col tw-items-center tw-gap-6 lg:tw-gap-4">
        {% if collections.neonati.image != blank %}
          <img
            src="{{ collections['neonati'].image |  image_url }}"
            id="babies-img"
            alt="Babies"
            class="tw-object-cover timeline-img active tw-aspect-square"
            width="auto"
            height="auto"
          >
        {% else %}
          {% assign placeholder_image = 'lifestyle-1' %}
          {{
            placeholder_image
            | placeholder_svg_tag: 'tw-border tw-border-2 tw-border-main tw-object-cover timeline-img active tw-aspect-square'
          }}
        {% endif %}
        <h3 class="tw-text-4xl tw-text-main">{{ collections.neonati.title }}</h3>
      </div>
    </a>

    <a href="{{ collections['kids'].url }}">
      <div class="tw-flex tw-flex-col tw-items-center tw-gap-6 lg:tw-gap-4">
        {% if collections['big-kids'].image != blank %}
          <img
            src="{{ collections['kids'].image |  image_url }}"
            id="babies-img"
            alt="Babies"
            class="tw-object-cover timeline-img active tw-aspect-square"
            width="auto"
            height="auto"
          >
        {% else %}
          {% assign placeholder_image = 'lifestyle-1' %}
          {{
            placeholder_image
            | placeholder_svg_tag: 'tw-border tw-border-2 tw-border-main tw-object-cover timeline-img active tw-aspect-square'
          }}
        {% endif %}
        <h3 class="tw-text-4xl tw-text-main">{{ collections.kids.title }}</h3>
      </div>
    </a>
    <a href="{{ collections['big-kids'].url }}">
      <div class="tw-flex tw-flex-col tw-items-center tw-gap-6 lg:tw-gap-4">
        {% if collections['big-kids'].image != blank %}
          <img
            src="{{ collections['big-kids'].image |  image_url }}"
            id="babies-img"
            alt="Babies"
            class="tw-object-cover timeline-img active tw-aspect-square"
            width="auto"
            height="auto"
          >
        {% else %}
          {% assign placeholder_image = 'lifestyle-1' %}
          {{
            placeholder_image
            | placeholder_svg_tag: 'tw-border tw-border-2 tw-border-main tw-object-cover timeline-img active tw-aspect-square'
          }}
        {% endif %}
        <h3 class="tw-text-4xl tw-text-main">{{ collections['big-kids'].title }}</h3>
      </div>
    </a>
  </div>
</div>
<div
  class=" tw-w-[90%] lg:tw-w-full tw-mx-auto tw-text-center tw-py-20 tw-flex tw-items-center tw-justify-center {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
  {% if settings.animations_reveal_on_scroll %}
    data-cascade
  {% endif %}
>
  <h2 class="tw-w-full lg:tw-w-full tw-text-5xl lg:tw-text-[96px] tw-text-main">
    At Bimbo Zen, we're inspired <br>
    by adventure.
  </h2>
</div>
