<section class="marquee-container2">
  <div class="marquee2">
    <div class="marquee-content2">
      <span class="curiosity tw-flex tw-items-center">
        Inspired by Curiosity
        <img
          src="{{ "granchio.png" | asset_url }}"
          width="50px"
          height="50px"
          class="tw-w-[50px] tw-h-[50px] tw-object-contain"
          alt="{{ "granchio.png" | remove: '.png' | remove: '.jpeg' | remove: '.svg' | remove: '.jpg' | remove: '.webp' }}"
        >
        &nbsp;
      </span>
      <span class="play tw-flex tw-items-center">
        Inspired by Play
        <img
          src="{{ "nave.png" | asset_url }}"
          width="auto"
          height="auto"
          class="tw-w-full tw-h-full tw-object-contain tw-aspect-square"
          alt="{{ "nave.png" | remove: '.png' | remove: '.jpeg' | remove: '.svg' | remove: '.jpg' | remove: '.webp' }}"
        >
        &nbsp;
      </span>
      <span class="joy tw-flex tw-items-center">
        Inspired by Joy
        <img
          src="{{ "pulcino.png" | asset_url }}"
          width="50px"
          height="50px"
          class="tw-w-[50px] tw-h-[50px] tw-object-contain"
          alt="{{ "pulcino.png" | remove: '.png' | remove: '.jpeg' | remove: '.svg' | remove: '.jpg' | remove: '.webp' }}"
        >
        &nbsp;
      </span>
      <span class="curiosity tw-flex tw-items-center">
        Inspired by Curiosity
        <img
          src="{{ "coccinella.png" | asset_url }}"
          width="50px"
          height="50px"
          class="tw-w-[50px] tw-h-[50px] tw-object-contain"
          alt="{{ "coccinella.png" | remove: '.png' | remove: '.jpeg' | remove: '.svg' | remove: '.jpg' | remove: '.webp' }}"
        >
        &nbsp;
      </span>
      <span class="play tw-flex tw-items-center">
        Inspired by Play
        <img
          src="{{ "rocket.png" | asset_url }}"
          width="50px"
          height="50px"
          class="tw-w-[50px] tw-h-[50px] tw-object-contain"
          alt="{{ "rocket.png" | remove: '.png' | remove: '.jpeg' | remove: '.svg' | remove: '.jpg' | remove: '.webp' }}"
        >
        &nbsp;
      </span>
      <span class="joy tw-flex tw-items-center">
        Inspired by Joy
        <img
          src="{{ "sole.png" | asset_url }}"
          width="50px"
          height="50px"
          class="tw-w-[50px] tw-h-[50px] tw-object-contain"
          alt="{{ "sole.png" | remove: '.png' | remove: '.jpeg' | remove: '.svg' | remove: '.jpg' | remove: '.webp' }}"
        >
        &nbsp;
      </span>
      <span class="curiosity tw-flex tw-items-center">
        Inspired by Curiosity
        <img
          src="{{ "farfalla.png" | asset_url }}"
          width="50px"
          height="50px"
          class="tw-w-[50px] tw-h-[50px] tw-object-contain"
          alt="{{ "farfalla.png" | remove: '.png' | remove: '.jpeg' | remove: '.svg' | remove: '.jpg' | remove: '.webp' }}"
        >
        &nbsp;
      </span>
      <span class="play tw-flex tw-items-center">
        Inspired by Play
        <img
          src="{{ "ciuccio.png" | asset_url }}"
          width="50px"
          height="50px"
          class="tw-w-[50px] tw-h-[50px] tw-object-contain"
          alt="{{ "ciuccio.png" | remove: '.png' | remove: '.jpeg' | remove: '.svg' | remove: '.jpg' | remove: '.webp' }}"
        >
        &nbsp;
      </span>
      <span class="joy tw-flex tw-items-center">
        Inspired by Joy
        <img
          src="{{ "robot.png" | asset_url }}"
          width="50px"
          height="50px"
          class="tw-w-[50px] tw-h-[50px] tw-object-contain"
          alt="{{ "robot.png" | remove: '.png' | remove: '.jpeg' | remove: '.svg' | remove: '.jpg' | remove: '.webp' }}"
        >
        &nbsp;
      </span>
      <span class="curiosity tw-flex tw-items-center">
        Inspired by Curiosity
        <img
          src="{{ "granchio.png" | asset_url }}"
          width="50px"
          height="50px"
          class="tw-w-[50px] tw-h-[50px] tw-object-contain"
          alt="{{ "granchio.png" | remove: '.png' | remove: '.jpeg' | remove: '.svg' | remove: '.jpg' | remove: '.webp' }}"
        >
        &nbsp;
      </span>
      <span class="play tw-flex tw-items-center">
        Inspired by Play
        <img
          src="{{ "nave.png" | asset_url }}"
          width="auto"
          height="auto"
          class="tw-w-full tw-h-full tw-object-contain tw-aspect-square"
          alt="{{ "nave.png" | remove: '.png' | remove: '.jpeg' | remove: '.svg' | remove: '.jpg' | remove: '.webp' }}"
        >
        &nbsp;
      </span>
      <span class="joy tw-flex tw-items-center">
        Inspired by Joy
        <img
          src="{{ "pulcino.png" | asset_url }}"
          width="50px"
          height="50px"
          class="tw-w-[50px] tw-h-[50px] tw-object-contain"
          alt="{{ "pulcino.png" | remove: '.png' | remove: '.jpeg' | remove: '.svg' | remove: '.jpg' | remove: '.webp' }}"
        >
        &nbsp;
      </span>
      <span class="curiosity tw-flex tw-items-center">
        Inspired by Curiosity
        <img
          src="{{ "coccinella.png" | asset_url }}"
          width="50px"
          height="50px"
          class="tw-w-[50px] tw-h-[50px] tw-object-contain"
          alt="{{ "coccinella.png" | remove: '.png' | remove: '.jpeg' | remove: '.svg' | remove: '.jpg' | remove: '.webp' }}"
        >
        &nbsp;
      </span>
      <span class="play tw-flex tw-items-center">
        Inspired by Play
        <img
          src="{{ "rocket.png" | asset_url }}"
          width="50px"
          height="50px"
          class="tw-w-[50px] tw-h-[50px] tw-object-contain"
          alt="{{ "rocket.png" | remove: '.png' | remove: '.jpeg' | remove: '.svg' | remove: '.jpg' | remove: '.webp' }}"
        >
        &nbsp;
      </span>
      <span class="joy tw-flex tw-items-center">
        Inspired by Joy
        <img
          src="{{ "sole.png" | asset_url }}"
          width="50px"
          height="50px"
          class="tw-w-[50px] tw-h-[50px] tw-object-contain"
          alt="{{ "sole.png" | remove: '.png' | remove: '.jpeg' | remove: '.svg' | remove: '.jpg' | remove: '.webp' }}"
        >
        &nbsp;
      </span>
      <span class="curiosity tw-flex tw-items-center">
        Inspired by Curiosity
        <img
          src="{{ "farfalla.png" | asset_url }}"
          width="50px"
          height="50px"
          class="tw-w-[50px] tw-h-[50px] tw-object-contain"
          alt="{{ "farfalla.png" | remove: '.png' | remove: '.jpeg' | remove: '.svg' | remove: '.jpg' | remove: '.webp' }}"
        >
        &nbsp;
      </span>
      <span class="play tw-flex tw-items-center">
        Inspired by Play
        <img
          src="{{ "ciuccio.png" | asset_url }}"
          width="50px"
          height="50px"
          class="tw-w-[50px] tw-h-[50px] tw-object-contain"
          alt="{{ "ciuccio.png" | remove: '.png' | remove: '.jpeg' | remove: '.svg' | remove: '.jpg' | remove: '.webp' }}"
        >
        &nbsp;
      </span>
      <span class="joy tw-flex tw-items-center">
        Inspired by Joy
        <img
          src="{{ "robot.png" | asset_url }}"
          width="50px"
          height="50px"
          class="tw-w-[50px] tw-h-[50px] tw-object-contain"
          alt="{{ "robot.png" | remove: '.png' | remove: '.jpeg' | remove: '.svg' | remove: '.jpg' | remove: '.webp' }}"
        >
        &nbsp;
      </span>
    </div>
  </div>
</section>

<style>
  .marquee-container2 {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    padding: 40px 0 0 0;
  }

  .marquee2 {
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;
  }

  .marquee-content2 {
    display: flex;
    gap: 50px; /* Spazio tra gli elementi */
    animation: scroll-infinite 60s linear infinite; /* Animazione infinita */
  }

  .marquee-content2 span {
    display: flex;
    align-items: center;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 500;
    gap: 20px;
    color: #3a3f4c;
  }

  .marquee-content2 img {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }

  @keyframes scroll-infinite {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @media screen and (max-width: 768px) {
    .marquee-content2 span {
      font-size: 25px;
    }

    .marquee-content2 img {
      width: 40px;
      height: 40px;
    }
  }
</style>
