{% schema %}
{
  "name": "Pagamenti e Metodi",
  "settings": [],
  "blocks": [
    {
      "type": "section",
      "name": "Sezione",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Titolo"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Descrizione"
        }
      ]
    },
    {
      "type": "method",
      "name": "Metodo di Pagamento",
      "settings": [
        {
          "type": "text",
          "id": "method_title",
          "label": "Titolo Metodo"
        },
        {
          "type": "textarea",
          "id": "method_description",
          "label": "Descrizione"
        },
        {
          "type": "image_picker",
          "id": "method_icons",
          "label": "Icone Metodo (opzionale)",
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Metodi di Pagamento"
    }
  ]
}

{% endschema %}

<div class="payment-page tw-py-20">
  <div class="payment-sections">
    {% for block in section.blocks %}
      {% if block.type == "section" %}
        <div class="payment-section">
          <h1 class="section-title">{{ block.settings.title }}</h1>
          <p class="section-content">{{ block.settings.content }}</p>
        </div>
      {% elsif block.type == "method" %}
        <div class="payment-method">
          <h2 class="method-title tw-flex tw-items-center tw-gap-2"><span>&dot;</span> {{ block.settings.method_title }}</h2>
          <p class="method-description">{{ block.settings.method_description }}</p>
          {% if block.settings.method_icons %}
            <div class="method-icons">
              {% for image in block.settings.method_icons %}
                <img width="100px" height="auto" src="{{ image | img_url }}" alt="{{ block.settings.method_title }}" class="method-icon" />
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<style>
  .payment-page {
    max-width: 1280px;
    margin: 0 auto;
    line-height: 1.6;
  }
  .payment-section {
    margin-bottom: 40px;
  }
  .section-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
  }
  .section-content {
    font-size: 1rem;
    color: #666;
  }
  .payment-method {
    margin-bottom: 20px;
    padding-left: 20px;
    border-left: 3px solid #ddd;
  }
  .method-title {
    font-size: 2rem;
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
  }
  .method-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
  }
  .method-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  .method-icon {
    width: 50px;
    height: auto;
  }
</style>
